    #legend,
    .navlinks,
    #segen {
        display: none;
    }

    #mitte div div div.text {
        display: none;
    }

    #mitterechts {
        display: none;
    }

    #kopf {
        display: none;
    }

    .mobileheader {
        display: none;
    }

    .inMk,
    .inMkJoh,
    .inMkLk,
    .inMkLkJoh,
    .inLk,
    .inLkJoh,
    .inMtLk,
    .inMtLkJoh,
    .inMtMk,
    .inMtMkJoh,
    .inMt,
    .inJoh,
    .inMtJoh,
    .inMtMkLk,
    .inMtMkLkJoh {
        display: none;
    }

    .nothere {
        font-size: 100%;
    }

    body {
        font-family: "DeJaVu Sans", "Arial Unicode", "Arial", "Liberation Sans", sans-serif;
    }

    table {
        border-collapse: collapse;
        empty-cells: hide;
    }

    tr {
        border-collapse: collapse;
    }

    td {
        border-collapse: collapse;
        padding-left: 15px;
        padding-right: 15px;
    }

    th {
        width: 100px;
    }

    p.title {
        font-size: 1.1em;
        font-weight: bold;
        color: rgb(150, 50, 50);
        margin-top: 30px;
    }

    span.chapter, a {
        font-size: .9em;
        color: darkgray;
        text-decoration: none;
    }

    p {
        margin: 0px;
    }

    .notitleLk,
    .notitleLk1,
    .notitleLkT1,
    .notitleMt,
    .notitleMt1,
    .notitleMk,
    .notitleMk1,
    .notitleJoh,
    .notitleJoh1,
    .titleMt,
    .titleMk,
    .titleLk,
    .titleJoh {
        border: 0px;
    }

    h1 {
        font-size: 1.5em;
        color: rgb(150, 50, 50);
    }

    .nothereMk,
    .titleMk,
    .notitleMk,
    .notitleMk1,
    #Mk,
    .nothereJoh,
    .titleJoh,
    .notitleJoh,
    .notitleJoh1,
    #Joh,
    .hereMk,
    .hereJoh {
        background-color: rgb(253, 227, 227);
    }